@font-face {
	font-display: swap;
	font-family: "GothamPro";
	src: url(../fonts/GothamPro-Regular/GothamPro-Regular.woff2) format("woff2"),
	url("../fonts/GothamPro-Regular/GothamPro-Regular.woff") format("woff");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-display: swap;
	font-family: "GothamPro";
	src: url(../fonts/GothamPro-Light/GothamPro-Light.woff2) format("woff2"),
	url("../fonts/GothamPro-Light/GothamPro-Light.woff") format("woff");
	font-style: normal;
	font-weight: 300;
}

@font-face {
	font-display: swap;
	font-family: "GothamPro";
	src: url(../fonts/GothamPro-Medium/GothamPro-Medium.woff2) format("woff2"),
	url("../fonts/GothamPro-Medium/GothamPro-Medium.woff") format("woff");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-display: swap;
	font-family: "GothamPro";
	src: url(../fonts/GothamPro-Bold/GothamPro-Bold.woff2) format("woff2"),
	url("../fonts/GothamPro-Bold/GothamPro-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "HeliosCondBold";
	src: url("../fonts/HeliosCondBold/HeliosCondBold.eot");
	src: url("../fonts/HeliosCondBold/HeliosCondBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/HeliosCondBold/HeliosCondBold.woff") format("woff"),
	url("../fonts/HeliosCondBold/HeliosCondBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

